:root {
  --text-color: #434455;
  --dark-text: #2e2f42;
  --primary-brand: #4d5ae5;
  --accent-text: #e7e9fc;
  --presed-state: #404bbf;
  --success-text: #31d0aa;
  --subtle-text: #8e8f99;
  --light-text: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --cubik-modal: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

/* Body */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: #ffffff;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
    /* padding-right: 15px;
    padding-left: 15px; */
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
width: 100%;
  padding-right: 15px;
  padding-left: 15px;
margin: 0 auto;
}

/* Header */

.header {

  border-bottom: 1px solid var(--accent-text);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-box {
  display: flex;
}

/* logo */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-brand);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-item-studio {
  color: var(--dark-text);
}

/* nav */
.nav-list {
  display: none;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}


.nav-item {
  position: relative;
  color: var(--dark-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 44px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--presed-state);
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item.header-link-item {
  color: var(--presed-state);
}
.nav-item.header-link-item::after {
  transform: scaleX(1);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--presed-state);
}

/* Contact information */
.address {
  display: none;
  font-style: normal;
}

.tell-item {
  margin-bottom: 12px;
}

.address-item {
  font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
}

.address-mail {
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-link:focus {
  color: var(--presed-state);
}

.address-tel {
  color: var(--text-color);

}



/* -----------------Menu mobile--------------- */

.header-button-menu {
  width: 32px;
  height: 22px;
  border: none;
  padding: 0;
  background-color: transparent;
  stroke: var(--dark-text);
  transition: stroke 250ms var(--cubik-modal);
}



.header-button-menu:focus {
  stroke: var(--primary-brand);
}

.menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 80px 35px 40px 40px;
  z-index: 1;
  background-color: #ffffff;
  overflow: auto;
    
    transform: translateX(0);
    transition: transform 250ms var(--cubik-modal), visibility 250ms var(--cubik-modal);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-container.is-hidden {
  transform: translateX(100%);
  transition: transform 250ms var(--cubik-modal);
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  background-color: var(--accent-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus {
  background-color: var(--presed-state);
  fill: #ffffff;
}

.menu-nav:not(:last-child) {
margin-bottom: 40px;
}

.menu-link {
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-text);
    transition: color 250ms var(--cubik-modal);
}

.menu-link:focus {
  color: var(--presed-state);
}

.link-studio {
  color: var(--presed-state);
} 


.address-menu {
margin-bottom: 48px;
}

.address-tel-item {
margin-bottom: 40px;
}

.address-tel-link {
  font-style: normal;
font-weight: 700;
font-size: 7vw;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--primary-brand);
}

.address-mail-link {
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--text-color);
}

.menu-icons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}

.team-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:focus {
  background-color: var(--presed-state);
}

.icons-item {
  border-radius: 50%;
}

/* ----------Close Menu mobole--------- */

/* Start Index.html main */
/* -------HERO-------- */

.hero {
  background-color: var(--hero-background);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/close-black-mobile1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 112px 0;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/dark-bg-mobile-2x.jpg);
  }
}


.hero-title {
  max-width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

.hero-btn {
  margin-top: 72px;
  padding: 16px 32px;
  border-color: transparent;
  min-width: 169px;

  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;

  line-height: 1.5;

  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus {
  background-color: var(--presed-state); }


  /* values of company (section 1) */
  
  
  
  .values-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--light-text);
  }
  
  .values-title {
    position: absolute;
    word-spacing: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  
  .values-item-title {
    margin-bottom: 8px;
    
  }
  
  .secondary-title {
    color: var(--dark-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
  
  .values-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  /* values of company (section 1) */

  /* Work section 2 */
  
  
  .work-title {
    margin-bottom: 72px;
  }
  
  .primary-title {
    color: var(--dark-text);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  img {
    display: block;
  }
  
  .work-list {
    display: flex;
    padding: 0;
  }
  
  .work-item:not(:last-child) {
    margin-right: 24px;
  }
/* OUR TEAM SECTION */
  .team {
    background-color: var(--light-text);
  }

  .team-container {
    max-width: 294px;
  }
  
  .team-title {
    margin-bottom: 72px;
  }
  
  
  .team-item {
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    gap: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  
  
  
  .team-card {
    padding: 32px 16px;
  }
  
  .team-card-title {
    color: var(--dark-text);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  
  .team-card-text {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  
  .icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  
  .team-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  .team-link-icon:focus {
    background-color: var(--presed-state);
  }
  
  .icons-item {
    border-radius: 50%;
  }
  
  .icons-body {
    width: 16px;
    height: 16px;
  }

  /**------Customers-------**/
  .customers-title {
    margin-bottom: 72px;
  }

  
  

  .customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    width: 168px;
    height: 88px;
    padding: 16px 32px;
  
    border: 1px solid #8e8f99;
    border-radius: 4px;
    fill: var(--subtle-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .customers-link:focus {
    border-color: var(--presed-state);
    fill: var(--presed-state);
  }
  
  .customers-body {
    width: 104px;
    height: 56px;
  }

  /* Footer */
  .footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  
  .footer-container {
   text-align: center;
  }

  .footer-box {
    width: 264px;
  margin: 0 auto;
  }
  
  .footer-logo {
    margin: 0;
  }
  
  .footer-text {
    text-align: left;
    margin-top: 16px;
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-text);
  }
  .logo-footer-studio {
    line-height: 1.17;
    color: var(--light-text);
  }
  
  .footer-box-item {
    width: 208px;
    height: 80px;
    margin: 72px auto 0;
  }
  
  .social-media-title {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }
  
  .social-media-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .social-media-icons {
    background-color: var(--primary-brand);
  }
  
  .social-media-icons:focus {
    background-color: var(--success-text);
  }
  
  /* --------------FOOTER-Subscribe----------- */
  
  .subscribe-container {
    margin-top: 72px;
  }
  
  .container-title {
    color: #ffffff;
    font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  }
  
  .subscribe-label {
    display: block;
  }
  
  .subscribe-input {
    display: block;
    
    padding: 8px 16px;
  
    height: 40px;
    opacity: 0.3;
    border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  color: #ffffff;
  line-height: 2.0;
  letter-spacing: 0.04em;
  transition: border-color 250ms var(--cubik-modal);
  }
  
  .subscribe-input:focus {
    border-color: var(--primary-brand);
  }
  
  /* .subscribe-input:hover,
  .subscribe-input:hover {
    border-color: var(--primary-brand);
  }
  .subscribe-input:hover::placeholder,
  .subscribe-input:hover::placeholder {
    color: var(--primary-brand);
  } */
  
  .subscribe-input::placeholder {
    color: #ffffff;
    font-size: 12px;
  line-height: 2.0;
  letter-spacing: 0.04em;
  }
  
  .subscribe-button {
    display: flex;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 24px;
  color: #FFFFFF;
    background-color: var(--primary-brand);
  border-radius: 4px;
  border: none;
  margin: 16px auto 0;
  
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  
  }
  
  .send-icon {
    fill: #ffffff;
  }
  
  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: var(--presed-state);
  }

  /* --------Modal page--------- */

  .backdrop {
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  width: 100%;
  
    padding: 72px 15px 24px 15px;
  
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
  }
  
  .button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 24px;
    height: 24px;
  
    background-color: var(--accent-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button-close:hover,
  .button-close:focus {
    background-color: var(--presed-state);
    fill: #ffffff;
  }
  
  .modal-title {
    font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  margin-bottom: 16px;
  }
  
  .modal-form-input {
    display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 16px;
  }
  
  .modal-input-wraper {
    display: flex;
      flex-direction: column;
      column-gap: 4px;
  }
  
  .modal-lable {
    font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  margin-bottom: 4px;
  }
  
  .wraper-input {
    position: relative;
  }
  
  .modal-input {
    width: 100%;
      height: 40px;
      padding: 8px 8px 8px 38px;
      border: 1px solid var(--modal-overlay);
      border-radius: 4px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: var(--dark-text);
      outline: transparent;
      transition: border-color 250ms var(--cubik-modal);
  }
  
  .modal-input-icon {
    position: absolute;
  top: 50%;
  left: 16px;
      transform: translateY(-50%);
      fill: var(--dark-text);
      transition: fill 250ms var(--cubik-modal);
  }
  
  .modal-input:hover, .modal-input:focus {
  border-color: var(--primary-brand);
  }
  
  .modal-input:hover + .modal-input-icon, .modal-input:focus + .modal-input-icon {
    fill: var(--primary-brand);
  }
  
  
  
  .modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid var(--modal-overlay);
  border-radius: 4px;
  color: var(--dark-text);
  font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      padding: 8px 16px;
      resize: none;
      outline: transparent;
      transition: border-color 250ms var(--cubik-modal);
  }
  
  .modal-textarea:hover, .modal-textarea:focus {
    border-color: var(--primary-brand);
  }
  
  .modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;  
  color: var(--modal-overlay);
  }
  
  .policy-label {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .policy-input {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
  
  .policy-checkbox {
    display: flex;
  align-items: center;
  justify-content: center;
    width: 16px;
  height: 16px;
  border: 1px solid var(--modal-overlay);
  border-radius: 2px;
  fill: transparent;
  transition: border-color 250ms var(--cubik-modal), 
  fill 250ms var(--cubik-modal), background-color 250ms var(--cubik-modal);
  }
  
  .policy-input:checked + .policy-checkbox {
    background-color: var(--presed-state);
  border-color: var(--presed-state);
  fill: #ffffff;
  }
  
  .policy-text {
    font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-left: 8px;
  color: var(--subtle-text);
  }
  
  .policy-link {
    color: var(--primary-brand);
  }
  
  .modal-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    background-color: var(--primary-brand);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 250ms var(--cubik-modal);
  }
  
  .modal-button:focus {
  background-color: var(--presed-state);
  }

  @media screen and (min-width: 428px) {
.container {
  width: 428px;
}

.address-tel-link {
  font-size: 36px;
}

.hero {
  
  margin: 0 auto;
 }

  .modal {
    width: 392px;
    height: 586px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
  }

  .customers-link {
    padding: 16px 40px;
    width: 190px;
  }

  .customers-body {
    width: 110px;
  }

  .subscribe-input {
    width: 398px;
  }
  .footer-container {
  
    margin: 0 auto;
  }


/* .menu-container {
  width: 428px;
} */
  }
    

  
  